@charset "UTF-8";
/****所有茶园样式开始****/
.teagarden {
  margin-top: 50px;
}
.teagarden > .teagarden-title {
  color: #999;
  font-size: 28px;
  text-align: center;
}
.teagarden > .teagarden-con {
  margin-top: 50px;
}
.teagarden > .garden-more {
  margin-top: 30px;
  text-align: center;
}
.teagarden > .garden-more > a {
  display: inline-block;
  width: 260px;
  line-height: 48px;
  height: 50px;
  border: 1px solid #cc0000;
  color: #cc0000;
  font-size: 20px;
}

.teagarden-con .garden-list {
  float: left;
  width: 380px;
  height: 250px;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}
.teagarden-con .garden-list:nth-of-type(3n) {
  margin-right: 0;
}
.teagarden-con .garden-list .img-responsive {
  height: 100%;
  display: block;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.teagarden-con .garden-list .garden-list-text {
  position: absolute;
  font-size: 24px;
  color: #fff;
  line-height: 250px;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
}
.teagarden-con .garden-list > a:hover .img-responsive {
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.teagarden-con > .garden-hide {
  display: none;
}

/****所有茶园样式结束****/
/****茶园介绍样式开始****/
.pageContain > .section {
  padding-top: 156px;
}
.pageContain > .section .page-txt {
  color: #a1a1a1;
  line-height: 35px;
  text-indent: 2em;
  padding: 0 50px;
}
.pageContain > .section .page-img {
  display: block;
  padding: 0 50px 20px;
}

#headerroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.section-foot .footer {
  margin-top: 0;
  padding: 15px 0;
}
.section-foot .copyright {
  margin-top: 10px;
}

.pagenavBar {
  position: fixed;
  right: 50px;
  height: 100%;
  top: 50%;
  margin-top: -80px;
}
.pagenavBar li a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E4E4E4;
  margin-bottom: 10px;
  position: relative;
  color: #a1a1a1;
  text-align: center;
  line-height: 30px;
}
.pagenavBar li a .pageli-row {
  border-style: solid;
  border-color: transparent transparent transparent #E4E4E4;
  height: 0;
  width: 0;
  border-width: 15px;
  position: absolute;
  bottom: 0;
  right: 20px;
  display: none;
}
.pagenavBar li a .pageli-txt {
  position: absolute;
  height: 30px;
  line-height: 30px;
  width: 100px;
  text-align: center;
  bottom: 0;
  right: 50px;
  background-color: #E4E4E4;
  display: none;
}
.pagenavBar li.active a {
  background-color: #AEAEAE;
  color: #666;
}
.pagenavBar li.active a .pageli-row {
  border-color: transparent transparent transparent #AEAEAE;
  display: block;
}
.pagenavBar li.active a .pageli-txt {
  background-color: #AEAEAE;
  display: block;
}
.pagenavBar li:hover a .pageli-row, .pagenavBar li:hover a .pageli-txt {
  display: block;
}

/****茶园介绍样式结束****/
/****分享我的故事样式开始****/
.teashare {
  margin-top: 90px;
}
.teashare .teashare-head {
  margin-bottom: 20px;
}
.teashare .teashare-head .share-text {
  border: 1px solid #ddd;
  height: 40px;
  line-height: 40px;
  width: 600px;
  padding-left: 8px;
}
.teashare .teashare-con .share-textarea {
  border: 1px solid #ddd;
  padding: 8px;
  resize: none;
  width: 100%;
  height: 400px;
}
.teashare .teashare-btn {
  margin-top: 20px;
}
.teashare .teashare-btn .share-btn {
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #DD5A5A;
  border: 0;
  color: #fff;
  cursor: pointer;
}
.teashare .teashare-btn .share-btn:hover {
  background-color: #e55e5e;
}

/****分享我的故事样式结束****/
/****以茶会友样式开始****/
.ceremony {
  margin-top: 50px;
}
.ceremony > .ceremony-title {
  text-align: center;
  font-size: 28px;
  color: #999;
}

.ceremony-con {
  margin-top: 50px;
  padding: 0 100px;
}
.ceremony-con > .ceremony-con-list {
  width: 230px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  float: left;
}
.ceremony-con > .ceremony-con-list:nth-of-type(4n) {
  margin-right: 0;
}

.ceremony-con-list > .cere-head {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
.ceremony-con-list > .cere-head > p > a {
  color: #949494;
  font-size: 18px;
}
.ceremony-con-list > .cere-head > span {
  color: #c9c9c9;
  font-size: 12px;
}
.ceremony-con-list > .cere-con {
  color: #c9c9c9;
  padding: 20px;
  position: relative;
  text-indent: 2em;
  line-height: 30px;
}
.ceremony-con-list > .cere-con > span {
  font-size: 72px;
  color: #d7d7d7;
  display: inline-block;
  line-height: 40px;
  position: absolute;
  left: -52px;
  top: 20px;
}
.ceremony-con-list > .cere-con > span.cere-span-last {
  bottom: 0;
  top: auto;
  left: auto;
  right: -22px;
}
.ceremony-con-list > .cere-bottom {
  text-align: right;
  padding: 20px;
  padding-top: 0;
}
.ceremony-con-list > .cere-bottom > span {
  margin-left: 15px;
  color: #cc0000;
  font-size: 12px;
}
.ceremony-con-list > .cere-bottom > span > img {
  width: 18px;
  height: 18px;
}

/****以茶会友样式结束****/
/****以茶会友详情样式开始****/
.ceredetail {
  margin: 40px;
}
.ceredetail > div {
  background-color: #fff;
  margin-bottom: 15px;
}
.ceredetail > .ceredetail-one {
  padding: 25px;
}

.ceredetail-one > .cere-one-title {
  color: #949494;
  font-size: 24px;
  font-weight: 400;
}
.ceredetail-one > .cere-one-subtitle {
  margin-top: 8px;
}
.ceredetail-one > .cere-one-subtitle > span {
  color: #bcbcbc;
  font-size: 12px;
  line-height: 16px;
}
.ceredetail-one > .cere-one-subtitle > span > img {
  margin-right: 5px;
  vertical-align: -3px;
}
.ceredetail-one > .cere-one-subtitle > span.detail-name {
  margin-left: 15px;
  width: 150px;
  display: inline-block;
}
.ceredetail-one > .cere-one-subtitle > span.detail-browse {
  margin-right: 15px;
}
.ceredetail-one > .cere-one-subtitle > span.detail-comment {
  margin-right: 15px;
}
.ceredetail-one > .cere-one-con {
  padding: 20px 0;
}
.ceredetail-one > .cere-one-con > p {
  color: #949494;
  margin-bottom: 15px;
}
.ceredetail-one > .cere-one-share {
  margin-top: 25px;
  padding: 15px 0;
  border-top: 1px dashed #ddd;
  font-size: 0;
}
.ceredetail-one > .cere-one-share > a {
  width: 165px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color: #F6F6F6;
  display: inline-block;
  margin-right: 12px;
  color: #7b001f;
  font-size: 16px;
}
.ceredetail-one > .cere-one-share > a:last-child {
  margin-right: 0;
}
.ceredetail-one > .cere-one-share > a > img {
  margin-right: 10px;
}

.ceredetail-two > .cere-two-head {
  border-left: 5px solid #7B001F;
  line-height: 48px;
  padding-left: 20px;
  color: #7b001f;
}
.ceredetail-two > .cere-two-con {
  padding: 25px;
  border-top: 1px solid #ddd;
}
.ceredetail-two > .cere-two-con .cere-two-textarea {
  width: 100%;
  resize: none;
  height: 150px;
  border: 1px solid #ddd;
  padding: 8px;
}
.ceredetail-two > .cere-two-con .cere-two-sub {
  margin-top: 25px;
  background-color: #DD5A5A;
  width: 137px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.ceredetail-three > .cere-three-head {
  border-left: 5px solid #7B001F;
  line-height: 48px;
  padding-left: 20px;
  color: #7b001f;
}
.ceredetail-three > .cere-three-con {
  padding: 0 25px;
  border-top: 1px solid #ddd;
}

.cere-three-con ul li {
  padding: 25px 0;
  border-bottom: 1px dashed #ddd;
}
.cere-three-con ul li:last-child {
  border-bottom: 0;
}
.cere-three-con ul li > ul {
  padding: 0 25px;
}
.cere-three-con ul li > ul li {
  border-bottom: 0;
  padding-bottom: 0;
}
.cere-three-con ul li > p {
  color: #aeaeae;
}
.cere-three-con ul li > p.cere-three-name {
  color: #a1a1a1;
  font-size: 16px;
}
.cere-three-con ul li > p.cere-three-con {
  padding: 3px 0;
}
.cere-three-con ul li > p.cere-three-time span {
  margin-right: 20px;
  font-size: 12px;
}
.cere-three-con ul li > p.cere-three-time span:last-child {
  cursor: pointer;
  color: #7b001f;
}
.cere-three-con ul li > p.cere-three-time span:last-child:hover {
  text-decoration: underline;
}
.cere-three-con ul li > p.cere-three-time img {
  margin-right: 5px;
  vertical-align: -2px;
}

.cere-three-reply {
  position: fixed;
  width: 570px;
  height: 230px;
  top: 50%;
  left: 50%;
  margin-top: -105px;
  margin-left: -285px;
  background-color: #eee;
  z-index: 999;
  display: none;
}
.cere-three-reply > .reply-head {
  color: #7b001f;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}
.cere-three-reply > .reply-con {
  padding: 10px 15px;
}
.cere-three-reply > .reply-con .reply-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid #ddd;
  padding: 8px;
}
.cere-three-reply > .reply-con .reply-btn {
  width: 95px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #F6F6F6;
  margin-top: 10px;
  border: 0;
  color: #7b001f;
  cursor: pointer;
}
.cere-three-reply > .reply-close {
  position: absolute;
  font-size: 80px;
  right: -60px;
  top: -40px;
  cursor: pointer;
}

/****以茶会友详情样式结束****/
/****支付成功开始****/
.paysuccess {
  margin-top: 50px;
}
.paysuccess > .w650 {
  width: 650px;
  margin: auto;
}

.pay-head > p {
  color: #cc0000;
}
.pay-head > .pay-h-title {
  font-size: 28px;
  margin-bottom: 8px;
}
.pay-head > .pay-h-title > img {
  margin-right: 10px;
}
.pay-head > .pay-h-a {
  margin-top: 40px;
}
.pay-head > .pay-h-a > a {
  color: #999;
  margin-right: 40px;
}
.pay-head > .pay-h-a > a:hover {
  color: #cc0000;
  text-decoration: underline;
}

.pay-share {
  margin-top: 125px;
}
.pay-share > .pay-s-title {
  color: #cc0000;
  font-size: 16px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.pay-share > .pay-s-con {
  margin-top: 20px;
}
.pay-share > .pay-s-con > a {
  display: block;
  float: left;
  width: 245px;
  height: 60px;
  line-height: 60px;
  background-color: #F2F2F2;
  margin-right: 35px;
  margin-bottom: 20px;
  color: #a1a1a1;
  font-size: 18px;
}

.pay-s-con > a > img {
  padding-left: 20px;
}
.pay-s-con > a > span {
  padding: 0 20px;
  color: #a1a1a1;
  font-size: 18px;
}

/****支付成功结束****/
/****会员中心开始****/
.vipcon {
  margin: auto;
  width: 1180px;
  min-height: 900px;
  margin-top: 35px;
  position: relative;
}
.vipcon > .vipcon-left {
  background-color: #f2f2f2;
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
}
.vipcon > .vipcon-right {
  background-color: #fff;
  width: 980px;
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 980px;
  padding: 25px 10px 10px 40px;
}

.vipcon-left > a {
  display: block;
  padding: 20px 25px;
  color: #999;
  font-size: 16px;
}
.vipcon-left > a > img {
  padding-right: 25px;
}
.vipcon-left > a.active {
  background-color: #fff;
  color: #cc0000;
}
.vipcon-left > a:hover {
  color: #cc0000;
}

.datum > .datum-head {
  width: 100%;
  position: relative;
}
.datum > .datum-head > div {
  display: table-cell;
  vertical-align: top;
  width: 400px;
}

.datum-head > div > p {
  margin-bottom: 10px;
  color: #666;
}
.datum-head > div span {
  color: #999;
}
.datum-head > .vipedit {
  position: absolute;
  right: 25px;
  top: 0;
  color: #999;
}
.datum-head > .vipedit:hover {
  color: #cc0000;
  text-decoration: underline;
}

.datum-address {
  margin-top: 65px;
}
.datum-address > .datum-add-title {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  color: #999;
  margin-bottom: 15px;
}
.datum-address > ul > li {
  width: 248px;
  border: 1px solid #ddd;
  padding: 15px 10px;
  cursor: pointer;
  position: relative;
  float: left;
  margin: 0 25px 25px 0;
  height: 116px;
}
.datum-address > ul > li.datum-li-last {
  border: 1px dashed #ddd;
  text-align: center;
  line-height: 84px;
  color: #a1a1a1;
}
.datum-address > ul > li.datum-li-last:hover {
  border: 1px dashed #cc0000;
  color: #cc0000;
}
.datum-address > ul > li > p {
  color: #a1a1a1;
  font-size: 12px;
  margin-top: 5px;
}
.datum-address > ul > li > p:first-child {
  font-size: 16px;
  margin-top: 0;
}
.datum-address > ul > li > .datum-add-gb {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #999;
  opacity: 0.5;
  filter: alpha(opacity=50);
  right: 0;
  height: 30px;
  line-height: 30px;
  z-index: 3;
  text-align: right;
  display: none;
}
.datum-address > ul > li > .datum-add-gba {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  z-index: 4;
  text-align: right;
  display: none;
}
.datum-address > ul > li > .datum-add-gba > a {
  color: #fff;
  padding: 0 5px;
  opacity: 1;
}
.datum-address > ul > li > .datum-add-gba > a:hover {
  color: #cc0000;
  text-decoration: underline;
}
.datum-address > ul > li:hover .datum-add-gb, .datum-address > ul > li:hover .datum-add-gba {
  display: block;
}

.datum-edit {
  width: 280px;
  height: 382px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -191px 0 0 -140px;
  background-color: #F6F6F6;
  z-index: 999;
  display: none;
}
.datum-edit > .datum-edit-close {
  position: absolute;
  top: -40px;
  right: -60px;
  font-size: 80px;
  cursor: pointer;
}
.datum-edit .datum-edit-title {
  text-align: center;
  line-height: 45px;
  height: 45px;
  background-color: #F2F2F2;
  color: #868686;
}
.datum-edit .datum-edit-con {
  padding: 20px;
}
.datum-edit .datum-edit-con > input {
  width: 100%;
}
.datum-edit .datum-edit-con > input.datum-text {
  border: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  padding-left: 8px;
}
.datum-edit .datum-edit-con > input.datum-btn {
  background-color: #D33131;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border: 0;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
}

#datum-edit2, #datum-edit3 {
  height: 260px;
  margin-top: -130px;
}

.order > .order-head {
  font-size: 0;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  height: 45px;
}
.order > .order-head > a {
  display: inline-block;
  width: 160px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  color: #868686;
}
.order > .order-head > a.active {
  color: #cc0000;
}
.order > .order-head > .order-line {
  position: absolute;
  width: 160px;
  height: 3px;
  background-color: #cc0000;
  bottom: -2px;
  left: 0;
}

.order-con {
  padding: 15px;
}
.order-con > ul > li {
  width: 100%;
  margin-bottom: 20px;
}

.order-con-head {
  background-color: #F6F6F6;
  height: 36px;
  line-height: 36px;
  color: #aeaeae;
  font-size: 12px;
  padding: 0 10px;
}
.order-con-head .ord-number {
  display: inline-block;
  width: 230px;
}
.order-con-head .ord-number > b {
  color: #868686;
  font-weight: 400;
}
.order-con-head .ord-head-right {
  float: right;
}
.order-con-head .ord-head-right > a {
  margin-left: 10px;
  color: #aeaeae;
}
.order-con-head .ord-head-right > a:hover {
  color: #CC0000;
  text-decoration: underline;
}

.order-sub-con {
  background-color: #FAFAFA;
}
.order-sub-con > div {
  display: table-cell;
  vertical-align: top;
  word-break: break-all;
  word-wrap: break-word;
  border-right: 1px solid #F5F1F1;
  color: #949494;
  padding: 15px 10px;
  text-align: center;
}
.order-sub-con > div:last-child {
  border-right: 0;
}
.order-sub-con > div:nth-of-type(1) {
  width: 460px;
  padding: 0;
}
.order-sub-con > div:nth-of-type(2) {
  width: 100px;
}
.order-sub-con > div:nth-of-type(3) {
  width: 100px;
}
.order-sub-con > div:nth-of-type(4) {
  width: 100px;
}
.order-sub-con > div:nth-of-type(5) {
  width: 140px;
}
.order-sub-con > .sub-con-details > a {
  display: block;
  color: #aeaeae;
  margin-top: 10px;
}
.order-sub-con > .sub-con-details > a:hover {
  color: #CC0000;
  text-decoration: underline;
}
.order-sub-con > .sub-con-last > a {
  display: block;
  color: #aeaeae;
}
.order-sub-con > .sub-con-last > a:hover {
  color: #CC0000;
  text-decoration: underline;
}
.order-sub-con > .sub-con-last > a:first-child {
  width: 80px;
  height: 24px;
  border: 1px solid #ddd;
  margin: 0 auto 6px auto;
}
.order-sub-con > .sub-con-last > a:first-child:hover {
  border: 1px solid #CC0000;
  text-decoration: none;
  color: #CC0000;
}

.sub-con-list > .sub-row {
  border-bottom: 1px solid #F5F1F1;
}
.sub-con-list > .sub-row:last-child {
  border-bottom: 0;
}
.sub-con-list > .sub-row > div {
  display: table-cell;
  vertical-align: top;
  padding: 15px 10px;
}
.sub-con-list > .sub-row > div:nth-of-type(1) {
  width: 80px;
}
.sub-con-list > .sub-row > div:nth-of-type(2) {
  width: 200px;
  text-align: left;
}
.sub-con-list > .sub-row > div:nth-of-type(3) {
  width: 80px;
}
.sub-con-list > .sub-row > div:nth-of-type(4) {
  width: 100px;
}
.sub-con-list > .sub-row > div .img-responsive {
  width: 60px;
  height: 46px;
}

.orderfin {
  width: 282px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -141px 0 0 -200px;
  background-color: #F6F6F6;
  z-index: 999;
  display: none;
}
.orderfin > .orderfin-close {
  position: absolute;
  top: -40px;
  right: -60px;
  font-size: 80px;
  cursor: pointer;
}
.orderfin .orderfin-title {
  text-align: center;
  line-height: 45px;
  height: 45px;
  background-color: #F2F2F2;
  color: #868686;
}
.orderfin .orderfin-con {
  padding: 20px 15px;
  color: #949494;
}
.orderfin .orderfin-con > p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 15px;
}
.orderfin .orderfin-con > p.notice {
  text-align: left;
  font-size: 12px;
  color: #CC0000;
}
.orderfin .orderfin-con > label {
  display: block;
  text-align: center;
  cursor: pointer;
}
.orderfin .orderfin-con > textarea {
  width: 100%;
  height: 60px;
  resize: none;
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 8px;
}
.orderfin .orderfin-con > input {
  width: 100%;
}
.orderfin .orderfin-con > input.fin-text {
  border: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  margin-top: 15px;
  padding-left: 8px;
}
.orderfin .orderfin-con > input.fin-btn {
  background-color: #D33131;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border: 0;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
}

#orderfin2 {
  height: 700px;
  margin-top: -350px;
}

.sub-con {
  margin-top: 30px;
}
.sub-con > .sub-title {
  text-align: center;
  color: #aeaeae;
  font-size: 12px;
  position: relative;
  margin-bottom: 8px;
}
.sub-con > .sub-title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  height: 1px;
  width: 70px;
  background-color: #ddd;
}
.sub-con > .sub-title:after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  height: 1px;
  width: 70px;
  background-color: #ddd;
}
.sub-con > div {
  border: 1px solid #ddd;
  color: #a1a1a1;
  font-size: 12px;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  height: 95px;
}
.sub-con > div > p:first-child {
  font-size: 16px;
}
.sub-con > div:hover {
  border: 1px solid #CC0000;
  color: #CC0000;
}
.sub-con > div.active {
  border: 1px solid #CC0000;
  color: #CC0000;
}
.sub-con > div.sub-last {
  border: 1px dashed #ddd;
  height: 95px;
  text-align: center;
  line-height: 73px;
}
.sub-con > div.sub-last:hover {
  border: 1px dashed #CC0000;
}

/****会员中心结束****/
/****我的购物车开始****/
.shopping {
  margin: 50px 50px 0;
}
.shopping > div {
  margin-bottom: 20px;
  background-color: #fff;
}

.shopping-one > .shop-head {
  padding: 0 15px;
  border-bottom: 1px solid #ddd;
  height: 55px;
  line-height: 55px;
}
.shopping-one > .shop-head > div {
  display: table-cell;
  color: #a1a1a1;
}
.shopping-one > .shop-head > div:nth-of-type(1) {
  width: 140px;
}
.shopping-one > .shop-head > div:nth-of-type(2) {
  width: 265px;
}
.shopping-one > .shop-head > div:nth-of-type(3) {
  width: 265px;
}
.shopping-one > .shop-head > div:nth-of-type(4) {
  width: 180px;
}
.shopping-one > .shop-head > div:nth-of-type(5) {
  width: 120px;
}
.shopping-one > .shop-head > div:nth-of-type(6) {
  width: 80px;
}

.shop-table {
  display: table;
  width: 100%;
  padding: 0 15px;
}
.shop-table > div {
  display: table-row;
}
.shop-table > div > div {
  display: table-cell;
  border-bottom: 1px dashed #ddd;
  padding: 15px 25px 15px 0;
  color: #a1a1a1;
  vertical-align: middle;
}
.shop-table > div > div:nth-of-type(1) {
  width: 140px;
}
.shop-table > div > div:nth-of-type(2) {
  width: 265px;
}
.shop-table > div > div:nth-of-type(3) {
  width: 265px;
}
.shop-table > div > div:nth-of-type(4) {
  width: 180px;
}
.shop-table > div > div:nth-of-type(5) {
  width: 120px;
}
.shop-table > div > div:nth-of-type(6) {
  width: 80px;
}
.shop-table > div > div.shop-img > .img-responsive {
  height: 85px;
}
.shop-table > div > div.shop-number .number-text {
  border: 1px solid #ddd;
  width: 50px;
  height: 23px;
  line-height: 23px;
  padding-left: 8px;
  color: #a1a1a1;
}
.shop-table > div > div.shop-number > img {
  cursor: pointer;
}
.shop-table > div > div.shop-number > img.cut {
  margin-right: 5px;
}
.shop-table > div > div.shop-number > img.plus {
  margin-left: 5px;
}
.shop-table > div > div.shop-total {
  color: #cc0000;
}
.shop-table > div > div.shop-operate > img {
  width: 16px;
  height: 16px;
  cursor: pointer;
  vertical-align: -2px;
}
.shop-table > div:last-child > div {
  border-bottom: 0;
}
.shop-table .shop-name > p {
  font-size: 16px;
  margin-bottom: 8px;
}
.shop-table .shop-name > .shop-name-table > div {
  display: table-row;
}
.shop-table .shop-name > .shop-name-table > div > div {
  display: table-cell;
  width: 120px;
  font-size: 12px;
}
.shop-table .shop-name > .shop-name-table > div > div > span {
  letter-spacing: 12px;
}

.shopping-two {
  padding: 25px 15px 5px;
}
.shopping-two > div {
  float: left;
  border: 1px solid #ddd;
  padding: 10px;
  color: #a1a1a1;
  width: 248px;
  height: 114px;
  margin: 0 18px 20px 0;
  cursor: pointer;
}
.shopping-two > div:nth-of-type(4n) {
  margin-right: 0;
}
.shopping-two > div.active {
  color: #cc0000;
  border: 1px solid #cc0000;
}
.shopping-two > div.shop-two-last {
  text-align: center;
  line-height: 92px;
  border: 1px dashed #ddd;
}
.shopping-two > div > p {
  margin-bottom: 6px;
  font-size: 12px;
}
.shopping-two > div > p:nth-of-type(1) {
  font-size: 16px;
}

.shopping-three {
  padding: 20px 15px;
}
.shopping-three > .shop-three-payment {
  margin-top: 25px;
  font-size: 0;
  text-align: right;
}
.shopping-three > .shop-three-payment > a {
  display: inline-block;
  width: 180px;
  height: 42px;
  line-height: 42px;
  background-color: #F2F2F2;
  color: #a1a1a1;
  font-size: 16px;
  margin-left: 15px;
  text-align: left;
}
.shopping-three > .shop-three-payment > a > img {
  width: 25px;
  height: 25px;
  margin: 0 15px;
}

.shop-three-list > div {
  line-height: 30px;
}
.shop-three-list > div > div {
  display: table-cell;
  text-align: right;
}
.shop-three-list > div > div:first-child {
  width: 920px;
}
.shop-three-list > div > div:last-child {
  width: 130px;
  color: #cc0000;
}

.myshopping-one > .shop-head > div:nth-of-type(1) {
  width: 80px;
}
.myshopping-one > .shop-head > div:nth-of-type(2) {
  width: 140px;
}
.myshopping-one > .shop-head > div:nth-of-type(3) {
  width: 255px;
}
.myshopping-one > .shop-head > div:nth-of-type(4) {
  width: 265px;
}
.myshopping-one > .shop-head > div:nth-of-type(5) {
  width: 170px;
}
.myshopping-one > .shop-head > div:nth-of-type(6) {
  width: 120px;
}
.myshopping-one > .shop-head > div:nth-of-type(7) {
  width: 50px;
}
.myshopping-one > .shop-head label {
  cursor: pointer;
}
.myshopping-one > .shop-head label input {
  vertical-align: -1px;
  margin-right: 3px;
}

.mysh-table > div > div {
  padding-right: 20px;
}
.mysh-table > div > div:nth-of-type(1) {
  width: 80px;
}
.mysh-table > div > div:nth-of-type(2) {
  width: 140px;
}
.mysh-table > div > div:nth-of-type(3) {
  width: 255px;
}
.mysh-table > div > div:nth-of-type(4) {
  width: 265px;
}
.mysh-table > div > div:nth-of-type(5) {
  width: 170px;
}
.mysh-table > div > div:nth-of-type(6) {
  width: 120px;
}
.mysh-table > div > div:nth-of-type(7) {
  width: 50px;
}

.myshopping-twq {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  position: relative;
}
.myshopping-twq > .continue {
  color: #a1a1a1;
  font-size: 16px;
}
.myshopping-twq > .continue:hover {
  color: #CC0000;
  text-decoration: underline;
}
.myshopping-twq > .total {
  color: #CC0000;
  position: absolute;
  right: 220px;
}
.myshopping-twq > .total > b {
  font-weight: 500;
  font-size: 20px;
}
.myshopping-twq > .balance {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  width: 205px;
  height: 50px;
  text-align: center;
  color: #fff;
  background-color: #D53333;
}

.shopped {
  margin-top: 70px;
}
.shopped > .shopped-head {
  color: #bcbcbc;
  font-size: 28px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.shopped > .shopped-head:before, .shopped > .shopped-head:after {
  content: "";
  position: absolute;
  width: 410px;
  height: 1px;
  background-color: #ddd;
  left: 0;
  top: 22px;
}
.shopped > .shopped-head:after {
  left: auto;
  right: 0;
}

.shopped-ul {
  margin: 0 50px;
}
.shopped-ul > li {
  float: left;
  text-align: center;
  background-color: #fff;
  width: 208px;
  height: 260px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 38px 0;
}
.shopped-ul > li:nth-of-type(5) {
  margin-right: 0;
}
.shopped-ul > li > .shopped-img {
  width: 110px;
  height: 70px;
}
.shopped-ul > li > p {
  color: #a1a1a1;
}
.shopped-ul > li > p.shopped-name {
  font-size: 16px;
  margin-top: 15px;
}
.shopped-ul > li > p.shopped-money {
  margin: 15px 0;
  color: #CC0000;
}

/****我的购物车结束****/
/****茶叶详情开始****/
.teaDet {
  padding: 25px 0;
}
.teaDet > .teaDet-share {
  text-align: right;
  color: #666;
}
.teaDet > .teaDet-share > a {
  margin-left: 5px;
}
.teaDet > .teaDet-share > a > img {
  width: 20px;
  height: 20px;
}
.teaDet > .teaDet-con {
  padding: 50px 0;
}

.teaDet-con > div {
  display: table-cell;
  vertical-align: top;
}
.teaDet-con > .teaDet-con-right {
  padding-left: 60px;
}

.teaDet-con-left > .bigimg {
  width: 520px;
  height: 360px;
}
.teaDet-con-left > .bigimg > img {
  height: 100%;
}
.teaDet-con-left > .smallimg {
  padding: 25px 50px 0;
}
.teaDet-con-left > .smallimg > div {
  float: left;
  width: 90px;
  height: 83px;
  margin-right: 20px;
  border: 1px solid #999;
  padding: 10px;
  cursor: pointer;
}
.teaDet-con-left > .smallimg > div:last-child {
  margin-right: 0;
}
.teaDet-con-left > .smallimg > div > img {
  height: 100%;
}

.teaDet-con-right > .teaDet-right-name {
  font-size: 34px;
  color: #333;
  font-weight: 400;
}
.teaDet-con-right > .teaDet-list {
  margin-top: 20px;
}
.teaDet-con-right > .teaDet-list > div > div {
  display: table-cell;
  vertical-align: top;
}
.teaDet-con-right > .teaDet-list .teaDet-list-name {
  width: 60px;
  padding-top: 5px;
}
.teaDet-con-right > .teaDet-list .teaDet-list-name > b {
  font-weight: 400;
  letter-spacing: 14px;
}
.teaDet-con-right > .teaDet-list .teaDet-list-con > span {
  display: inline-block;
  width: 120px;
  height: 30;
  line-height: 30px;
  text-align: center;
  border: 1px solid #ddd;
  color: #868686;
  margin-right: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}
.teaDet-con-right > .teaDet-list .teaDet-list-con > span:nth-of-type(4n) {
  margin-right: 0;
}
.teaDet-con-right > .teaDet-list .teaDet-list-con > span:hover {
  color: #cc0000;
}
.teaDet-con-right > .teaDet-list .teaDet-list-con > span.active {
  color: #cc0000;
  border: 1px solid #cc0000;
}
.teaDet-con-right > .teaDet-list > .teaDet-right-price {
  color: #cc0000;
  margin-top: 40px;
  margin-bottom: 10px;
}
.teaDet-con-right > .teaDet-list > .teaDet-right-price > .teaDet-list-con {
  font-size: 18px;
}
.teaDet-con-right > .teaDet-list > .teaDet-right-number .teaDet-list-name {
  padding-top: 15px;
}
.teaDet-con-right > .teaDet-list > .teaDet-right-number .teaDet-list-con > span {
  line-height: 20px;
  padding: 6px 0;
}
.teaDet-con-right > .teaDet-list > .teaDet-right-number .teaDet-list-con > .last-span {
  cursor: auto;
}
.teaDet-con-right > .teaDet-list > .teaDet-right-number .teaDet-list-con > .last-span:hover {
  color: #868686;
}
.teaDet-con-right > .teaDet-list > .teaDet-right-number .teaDet-list-con > .last-span > .teaDet-text {
  width: 40px;
  height: 20px;
  margin: 0 10px 4px;
  padding-left: 3px;
  border: 1px solid #ddd;
}
.teaDet-con-right > .teaDet-list > .teaDet-right-number .teaDet-list-con > .last-span > b {
  font-size: 20px;
  line-height: 0;
  cursor: pointer;
}

.teaDet-bottom {
  background-color: #F2F2F2;
  line-height: 80px;
  text-align: right;
  color: #cc0000;
}
.teaDet-bottom > span {
  font-size: 28px;
}
.teaDet-bottom > a {
  display: inline-block;
  width: 150px;
  height: 46px;
  border: 1px solid #cc0000;
  text-align: center;
  line-height: 46px;
  color: #cc0000;
  font-size: 18px;
  margin: 0 20px 0 100px;
}

.teadetails > .container, .teadetails > .section-foot {
  padding: 88px 0;
}
.teadetails > .container .page-txt, .teadetails > .section-foot .page-txt {
  color: #a1a1a1;
  line-height: 26px;
  text-indent: 2em;
}

.section-foot {
  position: relative;
}
.section-foot .footer {
  position: absolute;
  bottom: 0;
}

/****茶叶详情结束****/
/****订单详情开始****/
.myorder {
  padding: 0 30px;
}
.myorder > div {
  background-color: #fff;
}
.myorder > .myorder-head {
  background-color: #f9f9f9;
}

.myorder-head {
  height: 60px;
  line-height: 60px;
  color: #aeaeae;
  font-size: 12px;
}
.myorder-head span {
  margin: 0 5px;
}
.myorder-head a {
  color: #aeaeae;
}
.myorder-head a:hover {
  color: #CC0000;
  text-decoration: underline;
}
.myorder-head > .myorder-head-r {
  float: right;
}
.myorder-head > .myorder-head-r > a {
  margin-left: 15px;
}

.myorder-practice {
  padding: 30px 50px;
  margin-bottom: 10px;
}
.myorder-practice > div {
  float: left;
  position: relative;
  width: 235px;
  text-align: center;
  color: #d7d7d7;
}
.myorder-practice > div:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #E4E4E4;
  top: 0;
  left: 20px;
}
.myorder-practice > div:after {
  content: url(../img/wxjt.png);
  position: absolute;
  top: -2px;
  left: 45px;
}
.myorder-practice > div:last-child {
  width: 80px;
}
.myorder-practice > div:last-child:after {
  content: "";
}
.myorder-practice > div:last-child > div {
  margin-left: -20px;
}
.myorder-practice > div > div {
  margin-left: -175px;
  margin-top: 30px;
}
.myorder-practice > div a {
  color: #aeaeae;
}
.myorder-practice > div a:hover {
  color: #CC0000;
  text-decoration: underline;
}
.myorder-practice > div.finish {
  color: #009966;
}
.myorder-practice > div.finish:before {
  background-color: #009966;
}
.myorder-practice > div.finish:after {
  content: url(../img/yxjt.png);
}
.myorder-practice > div.finish p:nth-of-type(2), .myorder-practice > div.finish p:nth-of-type(3) {
  font-size: 12px;
}
.myorder-practice > div.finish:last-child:after {
  content: "";
}
.myorder-practice > div.next {
  color: #CC0000;
}
.myorder-practice > div.next:before {
  background-color: #CC0000;
}

.myorder-handle {
  padding: 20px 15px;
  margin-bottom: 35px;
}
.myorder-handle > .myorder-handle-h {
  border-bottom: 1px solid #f5f1f1;
  padding-bottom: 5px;
}
.myorder-handle > .myorder-handle-h > div {
  display: table-cell;
  vertical-align: top;
  color: #a1a1a1;
}
.myorder-handle > .myorder-handle-h > div:nth-of-type(1) {
  width: 210px;
}
.myorder-handle > .myorder-handle-h > div:nth-of-type(2) {
  width: 725px;
}
.myorder-handle > .myorder-handle-h > div:nth-of-type(3) {
  width: 155px;
}
.myorder-handle > .myorder-handle-c > div {
  padding-top: 10px;
}
.myorder-handle > .myorder-handle-c > div > div {
  display: table-cell;
  vertical-align: middle;
  color: #a1a1a1;
  font-size: 12px;
}
.myorder-handle > .myorder-handle-c > div > div:nth-of-type(1) {
  width: 210px;
}
.myorder-handle > .myorder-handle-c > div > div:nth-of-type(2) {
  width: 725px;
}
.myorder-handle > .myorder-handle-c > div > div:nth-of-type(3) {
  width: 155px;
}
.myorder-handle > .myorder-handle-c > div.handle-express {
  color: #a1a1a1;
  margin-top: 10px;
}
.myorder-handle > .myorder-handle-c > div.handle-express > span {
  margin-right: 25px;
}

.myorder-table {
  margin-bottom: 10px;
}
.myorder-table table {
  width: 100%;
}
.myorder-table table td {
  text-align: center;
  color: #a1a1a1;
  height: 35px;
  border-left: 1px solid #f5f1f1;
  border-top: 1px solid #f5f1f1;
}
.myorder-table table td:last-child {
  border-right: 1px solid #f5f1f1;
}
.myorder-table table tr:last-child td {
  border-bottom: 1px solid #f5f1f1;
}
.myorder-table .order-name {
  width: 80px;
}

.myorder-list > .shop-head {
  padding: 0 15px;
  border-bottom: 1px solid #ddd;
  height: 55px;
  line-height: 55px;
}

.myorder-list > .shop-head > div {
  display: table-cell;
  color: #a1a1a1;
}

.myorder-list > .shop-head > div:nth-of-type(1) {
  width: 200px;
}
.myorder-list > .shop-head > div:nth-of-type(2) {
  width: 340px;
}
.myorder-list > .shop-head > div:nth-of-type(3) {
  width: 350px;
}
.myorder-list > .shop-head > div:nth-of-type(4) {
  width: 120px;
}
.myorder-list > .shop-head > div:nth-of-type(5) {
  width: 150px;
}

.myorder-list > .myshop-table {
  display: table;
  width: 100%;
  padding: 0 15px;
}

.myshop-table > div {
  display: table-row;
}

.myshop-table > div > div {
  display: table-cell;
  border-bottom: 1px dashed #ddd;
  padding: 15px 25px 15px 0;
  color: #a1a1a1;
  vertical-align: middle;
}
.myshop-table > div > div:nth-of-type(1) {
  width: 200px;
}
.myshop-table > div > div:nth-of-type(2) {
  width: 340px;
}
.myshop-table > div > div:nth-of-type(3) {
  width: 350px;
}
.myshop-table > div > div:nth-of-type(4) {
  width: 120px;
}
.myshop-table > div > div:nth-of-type(5) {
  width: 150px;
}
.myshop-table > div > div.shop-img > .img-responsive {
  height: 70px;
  width: 110px;
}
.myshop-table > div > div.shop-number > .number-text {
  border: 1px solid #ddd;
  width: 50px;
  height: 23px;
  line-height: 23px;
  padding-left: 8px;
  color: #a1a1a1;
}
.myshop-table > div > div.shop-total {
  color: #cc0000;
}
.myshop-table > div > div.shop-name > p {
  font-size: 16px;
  margin-bottom: 8px;
}
.myshop-table > div:last-child > div {
  border-bottom: 0;
}

.myshop-table .shop-name > .shop-name-table > div {
  display: table-row;
}
.myshop-table .shop-name > .shop-name-table > div > div {
  display: table-cell;
  width: 140px;
  font-size: 12px;
}
.myshop-table .shop-name > .shop-name-table > div > div > span {
  letter-spacing: 12px;
}

/****订单详情结束****/
/****评价晒单开始****/
.evaluate {
  width: 1120px;
  margin: 40px auto;
}
.evaluate > .evaluate-head {
  padding: 15px 10px 5px;
  border-bottom: 1px solid #ddd;
  color: #aeaeae;
  background-color: #fff;
}
.evaluate > .evaluate-head > div {
  display: table-cell;
  text-align: center;
}
.evaluate > .evaluate-head > div:nth-of-type(1) {
  width: 610px;
  text-align: left;
  padding-left: 25px;
}
.evaluate > .evaluate-head > div:nth-of-type(2) {
  width: 260px;
}
.evaluate > .evaluate-head > div:nth-of-type(3) {
  width: 230px;
}
.evaluate > .evaluate-con {
  padding: 10px;
  background-color: #fff;
}
.evaluate > .evaluate-con > div {
  border-bottom: 1px solid #F5F5F5;
  padding: 20px 0;
}
.evaluate > .evaluate-con > div:last-child {
  border-bottom: 0;
}

.evaluate-con > div > div {
  display: table-cell;
  color: #a1a1a1;
  text-align: center;
}
.evaluate-con > div > div:nth-of-type(1) {
  width: 610px;
  text-align: left;
  padding-left: 25px;
}
.evaluate-con > div > div:nth-of-type(2) {
  width: 260px;
}
.evaluate-con > div > div:nth-of-type(3) {
  width: 230px;
}
.evaluate-con > div > div.eva-img img {
  width: 94px;
  height: 60px;
  margin-right: 15px;
}
.evaluate-con > div > div.eva-show {
  display: none;
  text-align: left;
  margin: 25px 15px 0;
  border: 1px solid #E7E6E6;
  padding: 15px;
  position: relative;
}
.evaluate-con > div > div.publish, .evaluate-con > div > div.see {
  cursor: pointer;
}

.eva-show .triangle {
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #E7E6E6 transparent;
  border-width: 20px;
  width: 0;
  height: 0;
  top: -40px;
  right: 80px;
}
.eva-show .triangleed {
  border-color: transparent transparent #fff transparent;
  top: -38px;
  right: 80px;
}
.eva-show .eva-con > div {
  margin-bottom: 10px;
  font-size: 12px;
  color: #aeaeae;
}
.eva-show .eva-con > div > div {
  display: table-cell;
}
.eva-show .eva-con > div > div:first-child {
  width: 40px;
}
.eva-show .eva-con > .score img {
  width: 24px;
  height: 24px;
}
.eva-show .eva-con > .mark span {
  border: 1px solid #E5E5E5;
  display: inline-block;
  width: 80px;
  text-align: center;
  height: 24px;
  line-height: 22px;
  margin-right: 15px;
  cursor: pointer;
}
.eva-show .eva-con > .mark span:hover {
  border: 1px solid #CC0000;
  color: #CC0000;
}
.eva-show .eva-con > .idea > div {
  vertical-align: top;
}
.eva-show .eva-con > .idea textarea {
  resize: none;
  border: 1px solid #ddd;
  padding: 8px;
  width: 800px;
  height: 100px;
}
.eva-show .eva-con > .idea p {
  margin-top: 10px;
}
.eva-show .eva-con > .idea p a {
  width: 100px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  background-color: #CC0000;
  color: #fff;
}

/****评价晒单结束****/
/****退货申请开始****/
.orderreturn .return-sub-con > div:nth-of-type(2) {
  width: 200px;
}
.orderreturn .return-sub-con > div:nth-of-type(3) {
  width: 110px;
}
.orderreturn .return-sub-con > div:nth-of-type(4) {
  width: 130px;
}
.orderreturn .return-sub-con > .account > p {
  font-size: 12px;
  margin-bottom: 3px;
}
.orderreturn .return-sub-con > .account > p:first-child {
  font-size: 14px;
  color: #CC0000;
  margin-bottom: 8px;
}

/****退货申请结束****/
/****换货申请开始****/
.return-sub-con .address > div {
  margin-bottom: 8px;
}
.return-sub-con .address > div > div {
  display: table-cell;
}
.return-sub-con .address > div > div:first-child {
  width: 70px;
}
.return-sub-con .address > .address-one span {
  letter-spacing: 7px;
}
.return-sub-con .address > .address-two span {
  letter-spacing: 28px;
}
.return-sub-con .anew > p {
  font-size: 12px;
  text-align: left;
}
.return-sub-con .anew > p:first-child {
  margin-top: 10px;
}

/****换货申请结束****/


/****用户收货地址开始****/
.mod-comm {
    padding: 10px 20px 20px;
}
.mod-main {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}
.mod-comm .mt {
    padding: 10px 0;
}
.mod-main .mt {
    display: inline-block;
    display: block;
    padding: 10px;
}
.mod-comm .mc {
    line-height: 20px;
}
.mod-main .mc {
    overflow: visible;
}
.easebuy-m {
    border: 2px solid #e6e6e6;
    margin: 0 0 10px;
}
.m, .sm {
    margin-bottom: 10px;
}
.easebuy-m .smt {
    padding-left: 10px;
    line-height: 35px;
    height: 35px;
    position: relative;
    display: inline-block;
    display: block;
    overflow: hidden;
}
.easebuy-m .smt h3 {
    float: left;
    color: #666;
}
.mt h2, .smt h3 {
    font-family: "microsoft yahei";
}
.easebuy-m .smt h3 .ftx-04 {
    margin: 0 0 0 10px;
    font-size: 12px;
    background: #ffaa45;
    padding: 2px;
    color: #fff;
    font-weight: 400;
}
.easebuy-m .smt .extra {
    float: right;
    margin: 0 10px 0 0;
}
.easebuy-m .smt .extra .del-btn {
    margin-top: 10px;
    display: inline-block;
    width: 13px;
    height: 13px;
    text-indent: 99em;
    background: url(http://misc.360buyimg.com/user/myjd-2015/css/i/close.png) no-repeat;
    overflow: hidden;
    vertical-align: middle;
}
.easebuy-m .smt .extra a {
    color: #005ea7;
    margin: 0 0 0 20px;
}
.easebuy-m .smc {
    padding: 10px;
    line-height: 22px;
    width: 788px;
}
.m, .mb, .mc, .mt, .sm, .smb, .smc, .smt {
    overflow: hidden;
    zoom: 1;
}
.easebuy-m .smc .new-items {
    position: relative;
    width: 788px;
}
.easebuy-m .smc .item-lcol {
    width: 450px;
    float: left;
}
.easebuy-m .smc .item span {
    float: left;
    width: 70px;
    color: #999;
    text-align: right;
}
.easebuy-m .smc .item-lcol .fl {
    width: 360px;
}
.fl {
    float: left;
}
.clear, .clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.easebuy-m .smc .item span {
    float: left;
    width: 70px;
    color: #999;
    text-align: right;
}
.easebuy-m .smc .item-lcol .fl {
    width: 360px;
}
/****用户收货地址结束****/
/****用户订单详情开始****/
.tb-void {
    line-height: 18px;
    text-align: center;
    border: 1px solid #D7D2D2;
    color: #333;
    width: 100%;
}
.tb-none th {
    background: #f5f5f5;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-weight: 400;
}
.tb-none td {
    border: 0;
    padding: 6px 0;
    text-align: center;
}
.tb-void a {
    color: #005ea7;
}
.ftx-01, .ftx01 {
    color: #e4393c;
}
/****用户订单详情结束****/

.uploadProductImg{
    width: 200px !important;
    height: 37px !important;
    line-height: 30px !important;
    border: 1px dashed #909090 !important;
    text-align: center !important;
    /*margin-left: 350px !important;*/
}
#add-productImages-form{
    margin-top: 50px !important;
    margin-left: 300px !important;
    border: 1px solid #DBDBDB;
    width: 400px;
    padding: 50px;
}
.order-user-address td{
    padding: 5px;
    text-align: left !important;
}
.order-user-address  tr td:first-child {
    width: 80px !important;
    text-align: left;
}
#login-form{
    /*margin-top: 200px;*/
    /*margin-left: 200px;*/
}
.backend-login-div{
    margin-top: 150px;
}