@charset "utf-8";
/*
 * 服务
 */

/* banner */
.top_banner{ background: url("../../images/serve/bn.jpg") no-repeat center top; height: 602px}

/*正文*/
.content_pg{ padding: 40px 0 65px 0;}
.content_pg .box{ padding: 20px 0 35px 0; border-bottom: 1px dashed #e74e30; overflow: hidden; zoom: 1}
.content_pg .box .img{ float: left; padding-top: 15px;}
.content_pg .box .img img{ display: block; width: 303px; height: 172px; border: 1px solid #e74e30 }
.content_pg .box .ly-rt{ float: left; width: 834px; padding-left: 20px;}
.content_pg .box h2{ margin-bottom: 20px;}
.content_pg .box p{ padding-left: 55px; font-size: 16px; line-height: 26px;}
.content_pg .box_none{ border-bottom: none;}








